.blog-content {
  h1 {
    color: blue;
    font-size: 2em;
  }
  h2 {
    font-weight: 700;
    font-size: 1.6em;
    margin: 40px 0 10px 0;
  }
  p {
    margin: 20px 0;
    font-weight: 500;
    font-size: 1.2em;
  }
}
