* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  font-family: "Figtree", Arial, Helvetica, sans-serif;
  &.darkTheme {
    background-color: rgb(17 24 39);
    color: white;
  }
}
