* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  font-family: "Acre", "Times New Roman", sans-serif;
  &.darkTheme {
    background-color: #1a202c;
    color: white;
  }
}
