* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  &.dark {
    background-color: #1a202c;
    color: white;
  }
  &.light {
    background-color: white;
  }
}

body {
  font-family: "Acre", "Times New Roman", sans-serif;
}
